<div class="main_container">
  <h1 class="title_page"> Employee Administration </h1>
  <div class="actions_bar">
    <%= form_with(model: @employee) do |form| %>
    <input placeholder="Search employee"/>
    <i class="icon-search fa-solid fa-magnifying-glass"></i>
    <% end %>
    <%= button_to "+ Add employee", "/employee/new", method: :get, class: "primary-button-style" %>
  </div>

  <div class="container__table_employees">
    <table class="table_employees">
      <tr>
          <th> ID </th>
          <th> Nombre </th>
          <th> Position </th>
          <th> Email </th>
          <th> Branch </th>
          <th> Actions </th>
        </tr>
        <% @employees.each do | employee | %>
          <tr>
            <td> <%= employee.id %> </td>
            <td> <%= employee.name %> </td>
            <td> <%= employee.position %> </td>
            <td> <%= employee.email %> </td>
            <td> <%= employee.branch.name %> </td>
            <td> <button class="button--edit"> Edit </button> <button class="button--delete"> Deactivate </button> </td>
          </tr>
        <% end %>
  </table>

  </div>
</div>