<div id="<%= dom_id branch %>">
  <p>
    <strong>Name:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>City:</strong>
    <%= branch.city %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= branch.town %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= branch.number %>
  </p>

  <p>
    <strong>Street cp:</strong>
    <%= branch.street_cp_id %>
  </p>

</div>
