<div class="main_container">
  <h1 class="title_page"> Branch Administration </h1>
  <div class="actions_bar">
    <%= form_with(model: @employee) do |form| %>
    <input placeholder="Search branch"/>
    <i class="icon-search fa-solid fa-magnifying-glass"></i>
    <% end %>
    <%= button_to "+ Add branch", new_branch_path, method: :get, class: "primary-button-style" %>
  </div>

  <div class="container__table_admin">
    <table class="table_admin">
      <tr>
        <th> Name </th>
        <th> City </th>
        <th> Town </th>
        <th> Number </th>
        <th> Street </th>
        <th> CP </th>
        <th> Actions </th>
      </tr>
      <% @branches.each do | branch | %>
        <tr>
          <td> <%= branch.name %> </td>
          <td> <%= branch.city %> </td>
          <td> <%= branch.town %> </td>
          <td> <%= branch.number %> </td>
          <td> <%= branch.street_cp.street_name %> </td>
          <td> <%= branch.street_cp.cp %> </td>
          <td class="actions">
            <%= button_to "Edit", edit_branch_url(branch.id), method: :get, class: "button--edit" %>
            <%= button_to "Delete", branch_path(branch.id), method: :delete, class: "button--delete" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
