<div class="main_container">
  <h1 class="title_page"> Employee Administration </h1>
  <div class="actions_bar">
    <%= form_with(model: @employee) do |form| %>
    <input placeholder="Search employee"/>
    <i class="icon-search fa-solid fa-magnifying-glass"></i>
    <% end %>
    <%= button_to "+ Add employee", new_employee_path, method: :get, class: "primary-button-style" %>
  </div>

  <div class="container__table_admin">
    <table class="table_admin">
      <tr>
        <th> ID </th>
        <th> Nombre </th>
        <th> Position </th>
        <th> Email </th>
        <th> Branch </th>
        <th> Status </th>
        <th> Actions </th>
      </tr>
      <% @employees.each do | employee | %>
        <tr>
          <td> <%= employee.id %> </td>
          <td> <%= employee.name %> </td>
          <td> <%= employee.position %> </td>
          <td> <%= employee.email %> </td>
          <td> <%= employee.branch.name %> </td>
          <td> <%= employee.status %> </td>
          <td class="actions">
            <%= button_to "Edit", edit_employee_url(employee.id), method: :get, class: "button--edit" %>
            <%= button_to "#{employee.status ? "Deactivate" : "Activate"}",
                          update_status_employee_path(employee),
                          method: :put,
                          class: "#{employee.status ? "button--delete" : "button--activate"}"%>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
