
<div class="main">
  <div class="time">
    <span id="date"></span>
    <span id="hour"></span>
  </div>
  <div class="number">
    <%= form_with(model: @employee) do |form| %>
      <div>
        <%= form.label :private_number, class: "title" %><br>
        <%= form.number_field :private_number, class: "input-text" %>
      </div>
      <%= form.submit "CHECK", class: "secondary-button-style" %>
    <% end %>

    <% if flash[:msg] %>
      <%= javascript_tag "alert('#{flash[:msg]}')"%>
    <% end %>
  </div>
</div>
