<div class="main">
  <div class="time">
    <span class="date">
      <%= I18n.l(Date.today, format: '%A, %d de %B de %Y') %>
    </span>
    <span class="hour">
      <%= Time.now.strftime("%H:%M") %>
    </span>
  </div>
  <div class="number">
    <%= form_with(model: @employee) do |form| %>
      <div>
        <%= form.label :private_number, class: "title" %><br>
        <%= form.number_field :private_number, class: "input-text" %>
      </div>
      <%= form.submit "CHECK", class: "secondary-button-style" %>
    <% end %>

    <% if flash[:msg] %>
      <%= javascript_tag "alert('#{flash[:msg]}')"%>
    <% end %>
  </div>
</div>
