<!DOCTYPE html>
<html>
  <head>
    <title>Check Clock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <%= yield %>
  </body>
  <script src="https://kit.fontawesome.com/dec85c1e0a.js" crossorigin="anonymous"></script>
</html>
