<!DOCTYPE html>
<html>
  <head>
    <title>Check Clock</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag('reloj.js') %>
  </head>
  <body onload="mueveReloj()">
    <%= render 'layouts/header' %>
    <% if notice %>
      <%= javascript_tag "alert('#{flash[:notice]}')" %>
    <% end %>
    <% if alert %>
     <%= javascript_tag "alert('#{flash[:alert]}')" %>
    <% end %>
    <%= yield %>
  </body>
  <script src="https://kit.fontawesome.com/dec85c1e0a.js" crossorigin="anonymous"></script>
</html>
